<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Grability - Test{% endblock %}</title>
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="German Nemes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">

        <!-- CSS -->
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        <div class="container">
            <div class="row">
                <ul class="breadcrumb">
                    <li class="active">
                        <a href="#">Test cases</a>
                    </li>
                    <li>
                        <a href="#">Matrix Size</a>
                    </li>
                    <li>
                        <a href="#">Matrix Operations</a>
                    </li>
                    <li>
                        <a href="#">Input</a>
                    </li>
                    <li>
                        <a href="#">Run!</a>
                    </li>
                </ul>
            </div>
            
            {% block content %}{% endblock %}
        </div>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>