{% extends 'layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Step 1 - Select tests cases quantity</h3>
            </div>

            <div class="panel-body">
                <div class="control-group">
                    <div class="controls">
                        <label for="testsqty">Tests cases quantity: </label>
                        <select id="testsqty" name="testsqty">
                        {% for i in 1..50 %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="form-actions">
                    <div>
                        <button type="button" 
                                class="btn btn-primary btn-lg btn-block"
                                id="nex-step">
                            Next step
                        </button>
                    </div>
                </div>                        
            </div>
        </div>
    </div>
</div>
                            
<form action="{{ path('step2') }}" method="post" id="form-step1">
</form>
{% endblock %}

{% block javascripts %}
<!--<script type="text/javascript" src="{{ asset('js/step1.js') }}"></script>-->
    <script type="text/javascript">
$("#next-step").on('click', function( event ) {
    var testCases = new TestCases();
    testCases.quantity = $("#testsqty").val();

    var jsonTestCases = JSON.stringify(testCases);

    alert(jsonTestCases);
});</script>
{% endblock %}